body{
    background-color: #553228;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    color: #FFFFFF
}

main h1 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 35px;
}

main p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 40px;
}

header {
    background-color: #462814;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header h2 {
    width: 300px;
}

header .centro {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 99%;
}

header h4 {
    margin: 0;
    color: #DECEBA;
    text-align: center;
    /* margin-bottom: 10px; */
}

section {
    background-color: #462814;
    padding: 20px 20px;
    border-radius: 20px;
    width: 25%;
    margin: 0px auto;
    margin-top: 0vw;
    margin-bottom: 8vw;
    text-align: left;
}

section h2 {
    /* Top, Right, Bottom, Left */
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(236, 212, 183);
    /* margin-bottom: 10px; */
}

section p {
    text-align: left;
    color: #dbd7ca;
}

section button {
    background-color: #f7b707;
    color: #000000;
    width: 100%;
    height: 5vw;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex div section {
    display: flex;
    margin: none;
    }

.flex h5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}