body{
    background-color: #191414;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    color: #FFFFFF
}

section {
    background-color: #000000;
    padding: 20px 20px;
    border-radius: 20px;
    width: 65vw;
    margin: 0px auto;
    margin-top: 8vw;
    margin-bottom: 8vw;
    text-align: left;
}

section h2 {
    /* Top, Right, Bottom, Left */
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(236, 212, 183);
    /* margin-bottom: 10px; */
}

section a {
    color: #1589e9;
    text-decoration: none;
}

section p {
    text-align: left;
    margin-top: px;
    margin-bottom: 25px;
    color: #dbd7ca;
}

section label {
    display: block;
    margin: none;
}

section input {
    margin-top: none;
    margin-bottom: 10px;
    width: 98%;
    color: #dbd7ca;
    background-color: #1a0707;
    border-radius: 4px;
}

section button {
    background-color: #f7b707;
    color: #000000;
    width: 100%;
    height: 5vw;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex section label {
    display: block;
    margin: none;
    }

.flex input {
    margin-top: none;
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
    }

.flex div {
    flex-basis: 48%;
    width: 48%;
    margin-right: 2%;
    box-sizing: border-box;
}