body{
    background-image: linear-gradient(to bottom right, #1589e9, #5134bbcb 50%, #8934bbcb 95%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

section {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 20px;
    width: 380px;
    margin: 0px auto;
    margin-top: 8vw;
    margin-bottom: 8vw;
    text-align: center;
}

section h1 {
    /* Top, Right, Bottom, Left */
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    /* margin-bottom: 10px; */
}

section a {
    color: #1589e9;
    text-decoration: none;
}

section p {
    margin-top: px;
    margin-bottom: 25px;
}

section input {
    margin-top: 25px;
    width: 80%;
    border: none;
    border-bottom: 1px solid;
}

section button {
    background-image: linear-gradient(to right, #1589e9, #5134bbcb 50%, #8934bbcb 95%);
    color: #ffffff;
    width: 300px;
    height: 7vw;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
